/* Globals */
:root {
  --background-color: #D7BDA6;
  --title-background-color: #F7DDC6;
  --text-color: #4C2B0B;
  --link-color: #AB7743;
}

* {
    margin: 0px;
    font-family: "Elms Sans", sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Site name */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--title-background-color);
    padding-top: 1em;
    padding-bottom: 1em;
}

#siteName * {
    font-family: "EB Garamond", serif;
}

#siteName div {
    text-align: end;
}

h1 {
    text-align: center;
    color: var(--title-color);
    font-family: "EB Garamond", serif;
    font-size: 3em;
}

p {
    text-align: end;
}

/* Recipe */
h3 {
    margin-bottom: 0.15em;
}

h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 1em;
}

h5 {
    font-size: 0.8em;
}

h5 svg {
    height: 0.9em !important;
    padding-right: 0.1em;
}

ul {
    list-style-type: none;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}

li {
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px var(--title-background-color) solid;
}

a {
    color: var(--link-color);
}

img {
    margin-right: 1em;
    width: 70px;
    height: 70px;
    filter: hue-rotate(165deg);
    /* hue-rotate(-51deg) */
}

section {
    margin-top: 1em
}

.instructions {
    margin-top: 0.5em;
    display: none;
}

.instructions.visible {
    display: block;
}

.recipeHeader {
    display: flex;
}